.content {
    width: 40%;
    margin: 50px auto 0;
}

.content__ttl {
    font-size: 2rem;
    text-align: center;
}

.content__txt {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: -1px;
    margin-top: 30px;
}

.content__input {
    width: 100%;
    height: 35px;
    border: solid #aaa 1px;
    border-radius: 3px;
    text-indent: 5px;
    font-size: 1.5rem;
}

.content__error {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    font-size: 1.5rem;
    padding: 5px 15px;
    border-radius: 5px;
}

.content__btn {
    width: 100%;
    height: 35px;
    margin-top: 50px;
    background-color: #ff5555;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1.5rem;
}

.content__register--link {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: center;
}



@media (max-width: 768px) {
    .content {
        width: 90%;
    }
}